body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.avatar {
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
}

.card {
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: linear-gradient(110deg, #cbf3f0 30%, #fbf8cc 60%);
    /*#ddebf8 
    #cbf3f0
    */
    color: #2b2839;
    border-radius: 15px;    
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}


/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

